{#
/**
 * @file
 * Default theme implementation for displaying a view as a bootstrap carousel.
 *
 * Available variables:
 * - view: The view object.
 * - rows: A list of the view's row items.
 * - id: A valid HTML ID and guaranteed to be unique.
 * - interval: The amount of time to delay between automatically cycling a
 *   slide item. If false, carousel will not automatically cycle.
 * - pause: Pauses the cycling of the carousel on mouseenter and
 *   resumes the cycling of the carousel on mouseleave.
 * - wrap: Whether the carousel should cycle continuously or have
 *   hard stops.
 * - columns: The amount of columns in a single slide.
 * - breakpoints: The min-width of the multicolumn view.
 *
 * @see template_preprocess_views_bootstrap_carousel()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('views_bootstrap/components') }}

<div id="{{ id }}" class="views-view-bootstrap-carousel carousel slide"
     data-ride="carousel"{% if ride %} data-bs-ride="carousel" {% endif %}
     data-bs-interval="{{ interval }}" data-bs-pause="{% if pause %}hover{% else %}false{% endif %}"
     data-wrap="{{ wrap }}">

  {# Carousel indicators #}
  {% if indicators %}
    <div class="carousel-indicators">
      {% for key, row in rows %}
        {% if key % columns == 0 %}
          {% set indicator_classes = [loop.first ? 'active'] %}
          <button class="{{ indicator_classes|join(' ') }}" data-bs-target="#{{ id }}"
                  data-bs-slide-to="{{ key / columns }}" aria-label="{{ 'Slide'|t ~ ' ' ~ loop.index }}"></button>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}

  {# Carousel rows #}
  <div class="carousel-inner">
    {% for row in rows %}
      {% set row_classes = ['carousel-item', loop.first ? 'active'] %}
      {% if (loop.index - 1) % columns == 0 %}
        {% set row_classes = ['carousel-item', 'row', loop.first ? 'active'] %}
        <div {{ row.attributes.addClass(row_classes) }}>
      {% endif %}
      <div class="col-{{ breakpoints }}-{{ 12 / columns }}">
        {% if display == 'fields' %}
          {{ row.image }}
          {% if row.title or row.description %}
            {% if use_caption %}
              <div class="carousel-caption d-none d-md-block">
            {% endif %}
            {% if row.title %}
              <h3>{{ row.title }}</h3>
            {% endif %}
            {% if row.description %}
              <p>{{ row.description }}</p>
            {% endif %}
            {% if use_caption %}
              </div>
            {% endif %}
          {% endif %}
        {% else %}
          {{ row.content }}
        {% endif %}
      </div>
      {% if loop.index % columns == 0 %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  {# Controls #}
  {% if navigation %}
    <a class="carousel-control-prev" href="#{{ id }}" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">{{ 'Previous'|t }}</span>
    </a>
    <a class="carousel-control-next" href="#{{ id }}" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">{{ 'Next'|t }}</span>
    </a>
  {% endif %}
</div>
