{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
We call a macro which calls itself to render the full tree.
@see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
{% set ulClasses = [
    'hidden',
    'lg-tw-flex',
    'tw-space-x-10',
    'tw-items-center'
] %}
{% set childUlClasses = [
    'mega-menu',
    'hidden',
    'tw-flex-col',
    'tw-fixed',
    'tw-bg-bucktoothwhite',
    'tw-gap-4',
    'tw-z-10',
    'tw-w-full',
    'tw-h-full',
    'tw-left-0',
    'tw-top-menu',
    'tw-cursor-auto'
] %}
    {% if menu_level == 0 %}
<ul{{ attributes.addClass(ulClasses) }}>
    {% else %}
    <ul{{ attributes.removeClass(ulClasses).addClass(childUlClasses) }}>
        {% endif %}
        {% for item in items %}
            {% if menu_level == 0 %}
                {% set liClasses = [
                    item.in_active_trail ? 'mega-menu-parent is-active tw-cursor-pointer tw-text-osuorange tw-font-bold hover-tw-text-osuorange' : 'mega-menu-parent tw-cursor-pointer tw-font-normal tw-text-neutral-550 hover-tw-text-neutral-700',
                ] %}
            {% else %}
                {% set liClasses = [
                    'tw-font-normal',
                    'tw-text-neutral-550',
                    'hover-tw-text-neutral-700',
                    'tw-relative',
                    'tw-top-25',
                    'tw-left-20vw'
                ] %}
            {% endif %}
            <li{{ item.attributes.addCLass(liClasses) }}>
                {{ link(item.title, item.url) }}
                {% if item.below %}
                    {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endmacro %}
