{% import _self as menu %}

{{ menu.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menu_links %}
    {{ kint(_context|keys) }}
    <ul{{ attributes.addClass(['menu', 'menu--' ~ menu_name|clean_class]) }}>
        {% for item in items %}
            {% set item_classes = [
                item.is_expanded ? 'expanded',
                item.is_expanded and menu_level == 0 ? 'dropdown',
                item.in_active_trail ? 'active',
            ] %}
            <li{{ item.attributes.addClass(item_classes) }}>
                <a href="{{ item.url }}" class="dropdown-toggle" data-toggle="dropdown">{{ item.title }} <span
                            class="caret"></span></a>
                <div class="dropdown-menu dropdown-fullwidth">
                    {{ item.content }}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
