{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}
{#
We call a macro which calls itself to render the full tree.
@see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes.removeAttribute('region'), 0, menu_name) }}

{% macro menu_links(items, attributes, menu_level, menu_name) %}
  {% import _self as menus %}
  {% set menu_classes = [
    'menu',
    'menu--' ~ menu_name|clean_class,
    menu_level == 0 ? 'nav' : 'dropdown-menu'
  ] %}
  {% if items %}
    <ul{{ attributes.addClass(menu_classes) }}>
      {% for item in items %}
        {% set li_classes = [
          item.in_active_trail ? 'nav-item active active-trail bg-transparent border-bottom border-4 border-osuorange' : 'nav-item',
          item.below ? 'dropdown',
          menu_level > 0 ? 'dropdown-item',
        ] %}
        <li{{ item.attributes.addCLass(li_classes) }}>
          {% set link_title = item.title %}
          {% set link_attributes = item.attributes.removeClass(li_classes) %}
          {% if menu_level == 0 and item.below %}
            {% set link_title %}{{ link_title }} <span class="caret"></span> {% endset %}
            {% set link_attributes = link_attributes.addClass('dropdown-toggle').setAttribute('data-bs-toggle', 'dropdown') %}
          {% endif %}
          {{ link(link_title, item.url, link_attributes.addClass('nav-link', 'text-paddletailblack')) }}
          {% if item.below %}
            {{ menus.menu_links(item.below, attributes.removeCLass('nav'), menu_level + 1, menu_name) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>

  {% endif %}
{% endmacro %}
