{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 */
#}
{% import _self as menus %}
{#
We call a macro which calls itself to render the full tree.
@see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}
{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% set ulClasses = [
      'tw-hidden',
      'lg-tw-flex',
      'tw-space-x-10',
      'tw-items-center',
      'madrone-mega-menu-main'
    ] %}
    {% set ulClassesString = ulClasses|join(' ') %}
    {% set childUlClasses = [
      'mega-menu',
      'tw-hidden',
      'tw-flex-col',
      'tw-fixed',
      'tw-bg-bucktoothwhite',
      'tw-gap-x-20',
      'tw-gap-y-5',
      'tw-z-10',
      'tw-w-full',
      'tw-h-full',
      'tw-left-0',
      'tw-top-menu',
      'tw-cursor-auto'
    ] %}
    {% set childUlClassesString = childUlClasses|join(' ') %}
    {% set nestedUlClasses = [
      'tw-grid',
      'tw-col-start-2',
      'tw-col-span-3',
      'tw-grid-cols-3',
      'tw-auto-rows-minmax100',
      'tw-gap-x-20',
      'tw-gap-y-5',
      'tw-mt-10',
    ] %}
    {% set nestedUlClassesString = nestedUlClasses|join(' ') %}
    {% set megaMenuDivClasses = [
      'mega-menu',
      'tw-hidden',
      'tw-grid',
      'tw-fixed',
      'tw-grid-cols-5',
      'tw-bg-bucktoothwhite',
      'tw-gap-4',
      'tw-z-10',
      'tw-w-full',
      'tw-h-full',
      'tw-left-0',
      'tw-top-menu',
      'tw-cursor-default',
    ] %}
    {% set megaMenuDivClassesString = megaMenuDivClasses|join(' ') %}
    {% if menu_level == 0 %}
      <ul class="{{ ulClassesString }}">
      {% else %}
        <div class="{{ megaMenuDivClassesString }}">
          {% if menu_level == 1 %}
            <div class="tw-absolute tw-text-neutral-400 tw-col-start-5 tw-mt-5">
              <span class="tw-text-2xl tw-cursor-pointer" onclick="closeMegaMenu();">
                <i class="fa fa-times"></i>
              </span>
            </div>
          {% endif %}
          <ul class="{{ nestedUlClassesString }}">
          {% endif %}
          {% for item in items %}
            {% if menu_level == 0 %}
              {% set liClasses = [
            'tw-font-normal',
            'tw-text-neutral-550',
            'tw-flex',
            'tw-self-stretch',
            'tw-items-center',
            'tw-text-med',
          ] %}
              {% set linkClasses = 'tw-no-underline mega-menu-parent tw-cursor-pointer' %}
            {% else %}
              {% set liClasses = [
          'tw-font-normal',
          'tw-text-neutral-700',
          'tw-relative',
          'mega-menu-child',
        ] %}
              {% set linkClasses = 'tw-no-underline' %}
            {% endif %}
            <li{{item.attributes.addClass(liClasses)}}>
              {{ link(item.title, item.url, {'class':linkClasses}) }}

              {# adding the chevron #}
              {% if menu_level == 0 and item.below %}
                <i class="fas fa-fw fa-caret-down"></i>
              {% endif %}

              {# content description for mega menu items #}
              {% if menu_level == 1 %}
                <p class="tw-text-xxs tw-mt-1 mega-menu-description">
                  {{ item.url.options.attributes.title }}
                </p>
              {% endif %}

              {# looks to see if there are child links to the menu item #}
              {% if item.below %}
                {{ menus.menu_links(item.below, attributes, menu_level+1) }}
              {% endif %}
            </li>
          {% endfor %}

          {# written this way because php storm cries if you write the IF statement as == 0 #}
          {% if menu_level != 0 %}
          </ul>
        </div>
    {% else %}
      </ul>
    {% endif %}
  {% endif %}
{% endmacro %}
