{#
/**
 * @file
 * Theme override for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 */
#}
<div data-drupal-messages>
  {% for type, messages in message_list %}
    {% set status_classes = [
      'messages',
      'messages--' ~ type,
      'tw-flex',
      'tw-p-3',
      'tw-items-center',
    ] %}
    {% set role = {
      'status': 'status',
      'error': 'alert',
      'warning': 'alert',
    } %}
    {% set status_colors = {
      'status': 'tw-bg-pine-200',
      'warning': 'tw-bg-luminance-200',
      'error': 'tw-bg-lava-200',
    } %}
    {% set icon_classes = {
      'status': 'fas fa-check',
      'warning': 'fas fa-exclamation',
      'error': 'fas fa-times',
    } %}
    {% set icon_wrapper_classes = {
      'status': 'tw-bg-pine-300',
      'warning': 'tw-bg-luminance-300',
      'error': 'tw-bg-lava-300',
    } %}
    <div
      aria-label="{{ status_headings[type] }}"{{ attributes.addClass(status_classes, status_colors[type])|without('role', 'aria-label').setAttribute('role', role[type]) }}>
      {% if status_headings[type] %}
        <h2 class="visually-hidden">{{ status_headings[type] }}</h2>
      {% endif %}
      <div
        class="tw-flex tw-justify-center tw-items-center tw-h-10 tw-w-10 tw-rounded-full tw-text-bucktoothwhite tw-mr-2 {{ icon_wrapper_classes[type] }}">
        <i class="{{ icon_classes[type] }}"></i>
      </div>
      {% if messages|length > 1 %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% else %}
        <p>{{ messages|first }}</p>
      {% endif %}
    </div>
    {# Remove type specific classes. #}
    {% set attributes = attributes.removeClass(status_classes, status_colors[type]) %}
  {% endfor %}
</div>
