{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'col-9',
  'col-lg-8'
] %}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div{{ content_attributes.addClass('block__content', 'd-flex', 'align-items-center') }}>
      {% if site_logo %}
        <div class="d-none d-lg-flex pe-2">
          <div class="ms-2 py-2">
            <a id="osu-logo-wide" class="text-decoration-none d-inline-block" href="https://oregonstate.edu">
              <img class="" src="{{ site_logo }}" alt="{{ 'Oregon State University Logo'|t }}"/>
            </a>
          </div>
        </div>
        <div class="d-flex d-lg-none">
          <div class="py-2 px-2">
            <a id="osu-logo-crest" class="text-decoration-none" href="https://oregonstate.edu">
              <img class="" src="{{ base_path }}{{ active_theme_path() }}/assets/osu-logo-crest-only.svg"
                   alt="{{ 'Oregon State University Crest Logo'|t }}"/>
            </a>
          </div>
        </div>
      {% endif %}
      {% if site_logo and site_name %}
        <div class="align-self-stretch border-start border-neutral-200"></div>
      {% endif %}
      {% if site_name %}
        <div class="block__content__site-name d-flex flex-column ms-4">
          {% if group_name and group_path %}
            <div class="site-name__site-link--wrapper">
              <a class="site-name__site-link--with-group fs-6" href="{{ path('<front>') }}"
                 rel="home">{{ site_name }}</a>
            </div>
            <div class="site-name__group-link--wrapper">
              <a class="site-name__group-link text-decoration-none osu-text-osuorange fw-bolder"
                 href="{{ group_path }}">{{ group_name }}</a>
            </div>
          {% else %}
            <a class="site-name__site-link text-decoration-none osu-text-osuorange fw-bolder"
               href="{{ path('<front>') }}"
               rel="home">{{ site_name }}</a>
          {% endif %}
        </div>
      {% endif %}
      {#      {{ site_slogan }} #}
    </div>
  {% endblock %}
</div>
