{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% set region_id = 'madrone-' ~ region|clean_class ~ '-container' %}
{% set region_class = [
  'madrone-' ~ region|clean_class
] %}

{%
  set classes = [
    'footer',
    'region',
    'region-' ~ region|clean_class,
    'osu-min-h-300',
    'bg-primary',
    'position-relative',
  ]
%}


<div{{ attributes.addClass(classes) }}>
    <div{{ attributes.setAttribute('id', region_id).addClass(region_class).removeClass(classes) }}>
      {{ content }}
    </div>
    <div class="madrone-copyright" >
      <p class="">
        <a target="_blank" href="https://oregonstate.edu/copyright">{{ 'Copyright'|t }}</a> &#169; {{ 'now'|date('Y') }} Oregon State University |
        <a target="_blank" href="https://oregonstate.edu/official-web-disclaimer">{{ 'Privacy Disclaimer and Accessibility Information' |t}}</a>
      </p>
    </div>
</div>



